@font-face {
  font-family: 'Blinker';
  src: url('/fonts/Blinker-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blinker';
  src: url('/fonts/Blinker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blinker';
  src: url('/fonts/Blinker-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-blinker;
  }
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4;
  }
  
  .section {
    @apply py-12;
  }

  .section-title {
    @apply text-3xl font-light text-center mb-12 tracking-tight;
  }

  .card-container {
    @apply flex flex-col md:flex-row justify-between gap-8;
  }

  .card {
    @apply flex-1 bg-white p-8 rounded-lg shadow-md text-center;
  }

  .card-hover {
    @apply hover:shadow-xl transition-shadow;
  }

  .card-icon {
    @apply text-4xl text-blue-600 mb-4;
  }

  .card-title {
    @apply text-xl font-light mb-2 tracking-tight;
  }

  .button {
    @apply inline-block bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition-colors font-light;
  }

  .link {
    @apply text-blue-600 hover:text-blue-800 font-light;
  }

  .hero-section {
    height: 350px;
    @apply relative p-12 rounded-lg shadow-xl bg-right-top bg-no-repeat bg-cover;
    padding-right: 170px; /* don't overlap with background image */
  }

  .prose {
    @apply max-w-none prose-lg prose-blue;
  }

  .prose h1 {
    @apply text-4xl font-light text-center mb-8;
  }

  .prose h2 {
    @apply text-2xl font-light mt-8 mb-4;
  }

  .prose p {
    @apply mb-6;
  }

  .prose ul {
    @apply list-disc pl-5;
  }

  .prose li {
    @apply mb-2;
  }
} 