@import "tailwindcss";
@import "fonts.css";

@theme {
  --default-font-family: "Urbanist", "sans-serif";

  /* Colors */

  --color-primary: var(--color-cyan-800);
  --color-primary-medium: var(--color-cyan-500);
  --color-primary-light: var(--color-cyan-100);

  --color-secondary: var(--color-fuchsia-700);
  --color-secondary-medium: var(--color-fuchsia-400);
  --color-secondary-light: var(--color-fuchsia-100);

  --color-accent: var(--color-teal-400);
  --color-accent-medium: var(--color-teal-600);
  --color-accent-light: var(--color-teal-100);

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #f3f3f3;
  --color-gray: #718096;
}

@layer base {
  html {
    font-family: var(--default-font-family);
  }

  body {
    min-height: 100vh;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4;
  }

  .card-container {
    @apply flex flex-col md:flex-row justify-between gap-8;
  }

  /*  Default card styles */
  .card {
    @apply flex-1 bg-white p-8 rounded-xl shadow-md text-center bg-gradient-to-br from-transparent to-cyan-50;
  }

  .card-hover {
    @apply hover:shadow-xl;
    transition: var(--transition-default);
  }

  .card-icon {
    color: var(--color-blue-600);
    @apply text-4xl mb-4;
  }

  .card-title {
    @apply text-xl font-light mb-2 tracking-tight;
  }

  .button {
    background-color: var(--color-primary);
    color: var(--color-white);
    @apply inline-block px-6 py-2 rounded-lg font-light;
    transition: var(--transition-default);
    &:hover {
      background-color: var(--color-primary-medium);
    }
  }

  .link {
    color: var(--color-blue-600);
    @apply font-light;
    transition: var(--transition-default);
    &:hover {
      color: var(--color-blue-800);
    }
  }
}
