{{ define "main" }}
<div class="space-y-16">
  <!-- Hero Section -->
  <div class="bg-gradient-to-r from-cyan-950 to-cyan-800 text-white py-16 px-8 flex items-center justify-between space-x-8 rounded-md shadow-lg shadow-primary-medium flex-wrap">
    <div class="flex-1">
      <h1 class="text-4xl mb-4">Software Engineering Services</h1>
      <h2 class="text-2xl mb-4">Willkommen bei Mattanja Kern – Ihrem Softwareentwicklungsexperten</h2>
      <p class="text-lg">Als erfahrener Freelance Softwareentwickler konzentriere ich mich auf die Architektur und Entwicklung von Softwareprojekten, insbesondere in den Technologien .NET/C# und Angular.</p>
    </div>
    <div class="min-w-[200px] max-w-[30%] w-[200px]">
      <img src="/images/mattanja-profile.jpg" alt="Mattanja Kern" class="rounded-full w-full h-auto" style="box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);" />
    </div>
  </div>

  <!-- Problemlösungen -->
  <div class="">
    <h2 class="">Problemlösungen</h2>
    <p class="text-lg">Ich helfe Ihnen, Softwareprobleme zu lösen und Ihre Geschäftsziele zu erreichen.</p>
  </div>

  <!-- Services -->
  <div class="bg-gray-50">
    <div class="card-container grid-cols-3 mb-6">
      <!-- First row: 3 cards -->
      <div class="card">
        <h3 class="card-title">Tiefgreifende Erfahrung</h3>
        <p>Mit mehr als 15 Jahren professioneller Erfahrung, biete ich fundiertes Know-how in der Softwareentwicklung</p>
      </div>
      <div class="card">
        <h3 class="card-title">Technologische Expertise</h3>
        <p>Meine Spezialisierung auf .NET/C# und Angular verspricht innovative und zukunftsweisende Lösungen.</p>
      </div>
      <div class="card">
        <h3 class="card-title">Kommunikationsstärke</h3>
        <p>Ein herausragendes Merkmal meiner Dienstleistungen ist meine Fähigkeit, mich effektiv in die fachlichen Themen meiner Kunden einzuarbeiten und klar zu kommunizieren.</p>
      </div>
    </div>
    <div class="card-container grid-cols-2">
      <!-- Second row: 2 cards -->
      <div class="card">
        <h3 class="card-title">Flexibilität und Teamarbeit</h3>
        <p>Ob als Einzelentwickler oder Mitglied Ihres Teams – meine flexible Arbeitsweise ermöglicht es mir, mich optimal in Ihr Projekt einzubringen.</p>
      </div>
      <div class="card">
        <h3 class="card-title">Rundum-Service</h3>
        <p>Von der Planung bis zur Umsetzung unterstütze ich Sie in sämtlichen Phasen des Softwareentwicklungszyklus.</p>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="">
    <script type="text/javascript">(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");Cal("init", "call", {origin:"https://cal.com"});Cal.ns.call("ui", {"hideEventTypeDetails":false,"layout":"month_view"});</script>
    <h2 class="section-title">Kontakt</h2>
    <p class="text-lg">Bei Interesse an einer Zusammenarbeit oder Projektunterstützung rufen Sie mich gerne an unter +49-172-7505449, oder vereinbaren Sie direkt einen Termin:</p>
    <div class="flex justify-center mt-4">
      <a href="#" class="button" data-cal-link="mattanja/call" data-cal-namespace="call" data-cal-config='{"layout":"month_view"}'>Sofort Termin vereinbaren</a>
    </div>
  </div>

    <!-- Eberdingen -->
    <div class="card">
      <div class="flex items-center justify-between space-x-8 flex-wrap">
        <div class="flex-1">
          <h2 class="">Software aus Eberdingen</h2>
          <p class="text-lg">Eberdingen im Herzen von Baden-Württemberg ist die Heimat von kern.services</p>
        </div>
        <div class="flex-1 min-w-[50%] max-w-[30%] w-[50%]">
          <img src="/images/eberdingen.jpg" alt="Eberdingen" class="rounded-4xl shadow-lg w-full h-auto" />
        </div>
      </div>
    </div>
</div>
{{ end }}
